body {
  min-height: 2000px;
}
.jumbotron {
  padding-top: 6rem;
  background-color: #cce9f6;
}

#project {
  background-color: #cce9f6;
}

section {
  padding-top: 6rem;
}

.galery-img {
  width: 100%;
}

#galery .row > * {
  padding: 0;
}
